<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://drive.usercontent.google.com/download?id=1x0I6LtiUsQXkdxYTyg9AbYfpfm99-a1R&export=download&confirm=t&uuid=6dde0dc4-4bd5-47ec-9e19-45768c9f1d1b</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://i.imgur.com/Yf62miR.jpeg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://i.imgur.com/Yf62miR.jpeg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.vnggames.cfl.crossfirelegends</string>
				<key>bundle-version</key>
				<string>1.0.11</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Crossfire: Legends</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
